.details-card{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    background-color: white;
    color:#444444;
<<<<<<< HEAD
    /* flex:1; */
=======
    flex:1;
    /* j */
>>>>>>> ff81e77a1caa8694b77b56eb6fa8c60839500082
}