a{
    text-decoration: none;
    /* font-size:1.2em; */
    color:white;
}
a:hover{
    /* font-size:1.5em; */
    text-decoration:none;
    /* color:#FF8C00; */
    color:black;
}
li:hover {
    background-color: rgb(2, 100, 255);
}